/* About section styling */
.logo-image {
    max-width: 100%;
    height: auto;
    max-height: 100px;
}

.big-area {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 3rem !important;
}

p.text-center {
    font-size: large;
    font-family: 'Heavitas', sans-serif;
    color: #FFF;
    filter: drop-shadow(-1.5px 2px 0px #000000);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

section#about {
    padding-bottom: 1.5rem;
}

.button-container {
    display: inline-block;
    cursor: pointer;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.play-button {
    width: 100%;
    height: 100px;
    background-image: url('../images/button_play.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.play-button:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px #00000081) brightness(1.1);
}

img.img-instructions {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 10px;
}

.d-flex {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: -2.5px 3px 0px #000000;
    border: 1.5px solid #000000;
    border-radius: 5px;
}

h5 {
    font-family: 'Heavitas', sans-serif;
    color: #FFF;
    filter: drop-shadow(-1px 1.5px 0px #000000);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

@media (max-width: 992px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .d-flex img {
        margin-bottom: 1rem;
        margin-right: 0rem !important;
        width: 100%;
        height: auto;
    }

    .d-flex div {
        margin-top: 1rem;
    }
}